.code {background: black;
       /*color: #D0D0D0;*/
       padding:5px;
       color:#D0D0D0;
       font-family:monospace;}

.newline {display:block;
          color:black;
          height:0px;}

.blankline {display:block;
            color:black;}

.prompt {font-weight: bold;
         margin-right:5px;
         color:#606060;}

.indent {color:black;}

.line {display:none;}

.comment {color:grey;}

/*.comment::before {color: black;*/
                  /*content: "add newline before comment";*/
                  /*display: block;*/
                  /*height: 0px;}*/

.atom {color:brown;}

.integer {color:#C020C0;}

.float {color:#A050B0;}

.dash {color:orange;}

/*.dash::before {color: black;*/
               /*content: "add newline before comment";*/
               /*display: block;}*/

.file {color:darkgrey;}

.file-literal {color:lightgreen;}

.paren {}

.bracket {color:yellow;}

.brace {color:#00A0A0;}

.module {color:orange;}

.export {color:orange;}

.function {color:lightblue;}

.module-literal {color:lightgreen;}

.period {}

.comma {margin-right:5px;}

.string {color:red;}

.variable {color:blue;
           font-weight:bold;}

.equals {color:yellow;
         margin-left:5px;
         margin-right:5px;}

.double-quote {color:red;}

.clause-arrow {margin-left:5px;}

.eof {color:grey;}

